<div class="container">
	<div style="box-sizing: border-box;padding: 15px;" id="details">
		<span id="domain-name"></span>
		<br>
		<a href="#" class="" id="availability"></a>
		<a href="#" class="link" id="buy-link">Buy Now ></a>
		
		<div id="registrar-list">
			<span id="options">Purchase Options</span>
			<ul id="registrars">
			</ul>
		</div>
	</div>
</div>
	<h1 id="title">Domaint</h1>
	<form id="search" name="search">
		<input type="text" id="domain" autofocus="autofocus" placeholder="search" autocomplete="off">
	</form>
<ul id="domains"></ul>